[submodule "theme-sources/dracula"]
	path = theme-sources/dracula
	url = https://github.com/dracula/zsh.git
[submodule "themes/powerlevel9k"]
	path = themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
